.container {
   width: 90%;
   max-width: 940px;
   margin: 0 auto;
}
form .fields {
   margin-bottom: 64px;
}
form .item{
   margin-bottom:16px;

}
form .item > div:nth-child(1){
   color: #777;
   text-transform: uppercase;
   font-size: 14px;
   font-weight: bold;

   margin-bottom: 8px;

}
header {
   background-color: blue;
   width: 100%;
   padding: 60px;
   text-align: center;
   box-sizing: border-box;
 }
 footer {
   background-color: blue;
   width: 100%;
   padding: 60px;
   text-align: center;
   box-sizing: border-box;
   margin-top: 100px;
 }
 .titulo{
    padding-top: 30px;
    padding-bottom: 20px;
    color: blue;
    font-size: 22px;
    text-align: center;
 }

form .item .input input,
form .item input[type="text"],
form .item input[type="number"],
form .item textarea,
form .item select {
   width: 100%;
   padding: 8px 16px;
   box-shadow: 2px 2px 2px -4px rgba(63, 63, 63, .9);
   border: 1px solid #efefef;
   border-radius: 4px;

   font-size: 16px;
}

.button {
   background-color: blue;
   color: white;
   
   display: block;
   margin: 16px 0;
   padding: 12px 16px;

   width: 100%;
   border-radius: 4px;
   /* pra colocar o botao para baixo */
   align-self: end;

   font-weight: bold;
   text-transform: uppercase;
   font-size: 16px;
   text-align: center;

   cursor: pointer;

   transition: all 0.2s;
}

button:hover {
   background-color: rgb(0, 195, 255);
}


section.login.container,
section.password.container {
    max-width: 500px;
}
section.login.container .fields,
section.password.container .fields{
    margin-bottom: 32px;
}
section.login.container .footer ul{
    display: flex;
    justify-content: space-evenly;
}
section.login.container .footer ul li a{
    color:#777;
}
section.login.container .footer ul li a:hover{
    color:black;
    font-weight: bold;
}